/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;;
}
main {
    background-color: #f6f8f9;
    padding: 40px 0 10px 0;
} 

#new-task, #today, #upcoming {
    margin: 40px 0;
}

/* header  */
.header-container {
    margin: 10px 0 10px 10px;
}
.logo {
    vertical-align: middle;
}
h1 {
    display: inline-block;
    font-size: 40px;  
    vertical-align: middle;
}

/* main */
.container {
    width: 60%;
    margin: auto;
    border-radius: 4px;
    background-color: white;
}

/* add buttons */
.buttons-container {
    border-bottom: 2px solid lightgray;
    padding: 15px 0 10px 50px;
}
.add-buttons {
    padding: 6px 10px;
    border-radius: 5px;
}
.task-button-style {
    background-color: #47adf1;
    color: white;
    border-style: none;
}
.section-button-style {
    background-color: white;
    color: lightgray;
    border: 1px solid lightgray;
}

/* list */
.list-container {
    padding: 0 0 40px 40px;
}
.inline-block {
    display: inline-block;
}
.check {
    color: rgb(30, 219, 30);
    font-size: 10px;
    border: 1px solid rgb(30, 219, 30) ;
    border-radius: 50%;
    padding: 2px 4px;
    margin-right: 6px;
}
.cross {
    color: #eb5a53;
    font-size: 10px;
    border: 1px solid #eb5a53 ;
    border-radius: 50%;
    padding: 2px 4px;
    margin-right: 6px;
}
.button-style {
    padding: 6px 12px;
    border-radius: 12px;
    border-style: none;
    color: white;
}
.item {
    margin-bottom: 20px;
}
.hidden {
    visibility: hidden;
}

/* colors buttons */
.blue {
    background-color: #45abea;
}
.purple {
    background-color: #9c72e4;
}
.green {
    background-color: #64c0a9;
}
.yellow {
    background-color: #f29e33;
}
.pink {
    background-color: #d863a1;
}
.lime {
    background-color: #b0c926;
}




