/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;;
}
/* main {
    background-color: #f6f8f9;
} */

/* header  */
.header-container {
    margin: 10px 0 10px 10px;
}
.logo {
    vertical-align: middle;
}
h1 {
    display: inline-block;
    font-size: 40px;  
    vertical-align: middle;
}

/* main */
.container {
    width: 60%;
    margin: auto;
    border-radius: 4px;
    background-color: white;
}
.buttons-container {
    border-bottom: 2px solid lightgray;
    padding: 15px 0 10px 50px;
}
.add-buttons {
    padding: 6px 10px;
    border-radius: 5px;
}
.task-button-style {
    background-color: #47adf1;
    color: white;
    border-style: none;
}
.section-button-style {
    background-color: white;
    color: lightgray;
    border: 1px solid lightgray;
}


